/*=============================================
=               base elements                 =
=============================================*/

main, html, body{
    margin: 0;
}

header{
    background-color: grey;
}

.footer-content h6{
    color: white;
    margin: 15px 0px 15px 10px;
}

footer{
    height: 50px;
    background-color: #343a40!important
}

/*=====  End base elements  ======*/

