//  css grid layout 

/*=============================================
=                grid layout                  =
=============================================*/

/*----------  main grid layouts ----------*/

main{

    // mobile device 
    @include mobile-device{ 
        margin: 10px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(11, auto);
        grid-gap: 10px;
        grid-template-areas: 
        "population"
        "born-abroad"
        "avg-house-prc"
        "avg-pay"
        "BAME"
        "language"
        "migrant"
        "crimes"
        "obesity"
        "gender-pay"
        "avg-house";
    };

    // tablet device 
    @include tablet-device{ 
        margin: 10px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, auto);
        grid-gap: 10px;
        grid-template-areas: 
        "population population born-abroad born-abroad"
        "avg-house-prc avg-house-prc avg-pay avg-pay"
        "BAME BAME language language"
        ". crimes crimes ."
        "migrant migrant obesity obesity"
        "gender-pay gender-pay avg-house avg-house";
    };

    // desktop screen
    @include all-desktop-devices{
        margin: 10px;
        display: grid;
        grid-template-columns: 1rem repeat(4, 1fr)  1rem;
        grid-template-rows: repeat(4, auto);
        grid-gap: 10px;
        grid-template-areas: 
        ". population born-abroad avg-house-prc avg-pay ."
        ". BAME       BAME        language      language ."
        ". migrant    crimes      crimes        obesity ."
        ". gender-pay crimes      crimes        avg-house .";
    };
}

/*----------  end of grid layouts ----------*/

/*----------  grid tempate areas  ----------*/

#population{
    grid-area: population;
}

#born-abroad{
    grid-area: born-abroad;
}

#avg-house-prc{
    grid-area: avg-house-prc;
}

#avg-pay{
    grid-area: avg-pay;
}

#BAME{
    grid-area: BAME;
}

#english-lng{
    grid-area: language;
}

#migrant-by-birth{
    grid-area: migrant;
}

#crimes{
    grid-area: crimes;
}

#obesity{
    grid-area: obesity;
}

#gender-pay{
    grid-area: gender-pay;
}

#avg-house{
    grid-area: avg-house;
}
/*----------  end of grid tempate areas  ----------*/

/*----------  number display grids  ----------*/

.nd-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-height: 80px;
    text-align: end;
}

.nd-content{
    display: grid;
    grid-template-rows: 1fr 2fr;
}

/*---------- end of number display grids  ----------*/

/*----------  bar chart grids  ----------*/

.bar-grid{
    display: grid;
    grid-template-rows: 4rem 2fr;
}

/*----------  end of bar chart grids  ----------*/

/*----------  common chart grids  ----------*/

.chart-grid{
    display: grid;
    grid-template-rows: 4.5rem auto auto;
}

/*----------  end of common chart grids  ----------*/

/*----------  crimes grid  ----------*/

.map-grid{
    display: grid;
    grid-template-rows: 4rem auto auto auto;
}

/*----------  end of crimes grid  ----------*/

/*----------  footer grid  ----------*/

footer{
    display: grid;
    grid-template-columns: auto 6rem;
}

/*----------  end of footer grid  ----------*/

/*=====  End of grid layout  ======*/

