// styles for all dc.js charts

#bar-BAME .axis.x text,
#bar-english-lng .axis.x text,
#row-avg-house .axis text{
    transform: rotate(-45deg);
    text-anchor: end !important;
    font-size: 0.7rem;
}

#map-crimes .axis text{
    font-size: 0.4rem;
}


.area path{
    stroke: white;
}

.area:hover{
    fill-opacity: 0.5;
    cursor: pointer;
}


/*----------  number displays  ----------*/

.fas{
    margin: .7rem 1.5rem;
    font-size: 3rem;
}

.nd-header{
    text-align: center;
    padding-top: 5px;
}

.nd-display{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}


/*----------  end of number displays  ----------*/

/*----------  bar charts  ----------*/
.bar-content{
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    padding: 0px 10% 0px 10%;
    font-size: .7rem;
}

/*----------  end of bar charts  ----------*/
