// all card styles
.card{
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3); 
}

.card-header{
    height: auto;
    text-align: center;
    font-weight: 500;
    @include large-desktop-device{
        font-size: 1rem;
    };
    @include xlarge-desktop-device{
        font-size: 1.7rem;
    }
}