// styles for all dc.js charts

/*---------- general chart styles  ----------*/

#bar-BAME .axis.x text,
#bar-english-lng .axis.x text,
#row-avg-house .axis text{
    transform: rotate(-45deg);
    text-anchor: end !important;
    font-size: 0.7rem;
}

#bar-BAME .axis .tick text,
#bar-english-lng .axis .tick text{
    @include mobile-device{
        font-size: 0.9rem;
    }
}

.chart-content{
    // display: grid;
    // grid-template-columns: auto;
    text-align: center;
    padding: 10px 8% 0px 8%;
    font-size: .7rem;
}

/*----------  end of general chart styles ----------*/

/*----------  number displays  ----------*/

.fas{
    margin: .7rem 1.5rem;
    font-size: 3rem;
}

.nd-header{
    text-align: center;
    padding-top: 5px;
}

.nd-display{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}


/*----------  end of number displays  ----------*/

/*----------  bar charts  ----------*/


/*----------  end of bar charts  ----------*/

/*----------  pie chart ----------*/

#pie-migrant-by-birth{
    @include mobile-device{
        float: none;
        position: relative;
        left: 10%;
    }
    @include tablet-device{
        float: none;
        position: relative;
        left: 11.333333%;
    }
    @include desktop-device{
        float: none;
        position: relative;
        left: 3%;
    }   
}

/*----------  end of pie chart  ----------*/

/*----------  scatter plot  ----------*/

#scatter-obesity{
    float: none;
    margin-left: 10px;
}

text{
    #scatter-obesity &{
        font-size: .9rem;
        @include mobile-device{
            font-size: .7rem; 
        };
        @include tablet-device{
            font-size: .7rem; 
        }
    } 
}
/*----------  end of scatter plot  ----------*/

/*----------  composite chart  ----------*/

#line-gender-pay .x.axis text,
#line-gender-pay .x.axis .tick{
    display: none;
}


/*----------  end of composite chart  ----------*/

/*----------  crimes choropleth map  ----------*/

#row-crimes svg text{
    fill: black;
}

#row-crimes{
    @include desktop-device{
        max-width: 41vw;
    }
}

#map-crimes .axis text{
    @include mobile-device{
        font-size: 0.6rem;
    }
    @include tablet-device{
        font-size: 0.6rem;
    }
    @include desktop-device{
        font-size: 0.4rem;
    }

}

#row-crimes .row text{
    font-size: 0.8rem;
    @include mobile-device{
        font-size: 1rem;
    }
}

#row-crimes svg g g.axis .tick { 
    display: none; 
}

.area path{
    stroke: white;
}

.area:hover{
    fill-opacity: 0.5;
    cursor: pointer;
}


/*----------  reset all button  ----------*/
.reset{
    height: 30px;
    margin: .6rem .5rem;
    padding: 2%;
    background-color: #bbb;
    border-radius: 3px;
    color: white;
    text-align: center;
    cursor: pointer;
}

/*----------  end of reset all button  ----------*/


/*----------  end of crimes choropleth map  ----------*/