/*=============================================
=              All chart styles               =
=============================================*/

/*---------- general chart styles  ----------*/

#bar-BAME .axis.x text,
#bar-english-lng .axis.x text,
#row-avg-house .axis text{
    transform: rotate(-45deg);
    text-anchor: end !important;
    font-size: 0.7rem;
}

#bar-BAME .axis .tick text,
#bar-english-lng .axis .tick text{
    @include mobile-device{
        font-size: 0.9rem;
    }
}

.chart-content{
    text-align: center;
    padding: 10px 8% 0px 8%;
    font-size: .7rem;
    @include xlarge-desktop-device{
        font-size: .9rem;
    }
    @include fourK-device{
        font-size: 1.9rem;
    }
}

#row-crimes,
#scatter-obesity,
#row-avg-house,
#line-gender-pay{
    @include large-mobile-device{
        text-align: center
    }
    & svg {
        @include large-mobile-device{
                max-width: 77vw;
            }
    }
}

.chart-grid{
    & .dc-chart{
        @include all-desktop-devices{
            margin-top: .9rem;
        };
        @include fourK-device{
            margin-top: 5rem;
        };
    }
}

/*----------  end of general chart styles ----------*/

/*----------  number displays  ----------*/

.fas{
    margin: .7rem 1.5rem;
    font-size: 3rem;
}

.nd-header{
    text-align: center;
    padding-top: 5px;
}

.nd-display{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}


/*----------  end of number displays  ----------*/

/*----------  pie chart ----------*/

#pie-migrant-by-birth{
    float: none;
}

.pie-chart{
    @include xlarge-desktop-device{
        margin: 3rem 0;
    }
}

/*----------  end of pie chart  ----------*/

/*----------  scatter plot  ----------*/

#scatter-obesity{
    float: none;
    margin-left: 10px;
    & text{
        font-size: .9rem;
        @include mobile-device{
            font-size: .7rem; 
        };
        @include tablet-device{
            font-size: .7rem; 
        }
    }
}

/*----------  end of scatter plot  ----------*/

/*----------  composite chart  ----------*/

#line-gender-pay .x.axis{
    & text{
        display: none;
    };
    & .tick{
        display: none;
    }
}

/*----------  end of composite chart  ----------*/

/*----------  crimes section ----------*/
/*---- crimes map ----*/

#map-crimes .axis text{
    @include mobile-device{
        font-size: 0.6rem;
    }
    @include tablet-device{
        font-size: 0.6rem;
    }
    @include desktop-device{
        font-size: 0.4rem;
    }
}

.area{
    & path{
        stroke: white; 
    };
    &:hover{
        fill-opacity: 0.5;
        cursor: pointer;    
    }
}

/*---- end of crimes map ----*/

/*---- crimes row chart ----*/

#crimes{
    @include vendor-prefix(text-align, center);
    & svg {
        @include all-desktop-devices{
            max-width: 41vw;
        }
        & text{
            @include all-desktop-devices{
                font-size: .4rem;
            };
        }
    }
}

#row-crimes{
    & svg text{
        fill: black;
    };
    & svg g.axis .tick{
        display: none; 
    };
    & .row text{
        font-size: 0.8rem;
        @include mobile-device{
            font-size: 1rem;    
        }
    }
}

/*---- end of crimes row chart ----*/

/*----------  end of crimes section ----------*/


/*----------  reset all button  ----------*/
.reset-all{
    height: 30px;
    margin: .6rem .5rem;
    padding: 2%;
    background-color: #fff;
    border-radius: 3px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: .5s;
        &:hover{
            background-color: rgb(50, 228, 88);
        };
        & a{
            text-decoration: none;
        }
}

.reset{
    position: absolute;
    left: 2rem;
    top: 8.2rem;
    font-size: .9rem;
}

/*----------  end of reset all button  ----------*/

/*=====  End of chart styles  ======*/
