// styles for all dc.js charts

/*---------- general chart styles  ----------*/

#bar-BAME .axis.x text,
#bar-english-lng .axis.x text,
#row-avg-house .axis text{
    transform: rotate(-45deg);
    text-anchor: end !important;
    font-size: 0.7rem;
}

#bar-BAME .axis .tick text,
#bar-english-lng .axis .tick text{
    @include mobile-device{
        font-size: 0.9rem;
    }
}

.chart-content{
    text-align: center;
    padding: 10px 8% 0px 8%;
    @include mobile-device{
        font-size: 2.8vmax;
    }
    @include large-mobile-device{
        font-size: 2.4vmax;
    }
    @include tablet-device{
        font-size: 1.5vmax;
    }
    @include desktop-device{
        font-size: 1vmax;
    }
    @include large-desktop-device{
        font-size: 1vmax;
    }
    @include xlarge-desktop-device{
        font-size: .8vmax;
    }
}

#row-crimes,
#scatter-obesity,
#row-avg-house,
#line-gender-pay{
    @include large-mobile-device{
        text-align: center
    }
    & svg {
        @include large-mobile-device{
                max-width: 77vw;
            }
    }
}

.chart-grid{
    & .dc-chart{
        @include desktop-device{
            margin-top: 10px;
        };
        @include large-desktop-device{
            margin-top: 15px;
        };
        @include xlarge-desktop-device{
            margin-top: 30px;
        };
    }
}

/*----------  end of general chart styles ----------*/

/*----------  number displays  ----------*/

.fas{
    margin: .7rem 1.5rem;
    font-size: 3rem;
}

.nd-header{
    text-align: center;
    padding-top: 5px;
}

.nd-display{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}


/*----------  end of number displays  ----------*/

/*----------  pie chart ----------*/

#pie-migrant-by-birth{
    float: none;
}


/*----------  end of pie chart  ----------*/

/*----------  scatter plot  ----------*/

#scatter-obesity{
    float: none;
    margin-left: 10px;
}

text{
    #scatter-obesity &{
        font-size: .9rem;
        @include mobile-device{
            font-size: .7rem; 
        };
        @include tablet-device{
            font-size: .7rem; 
        }
    } 
}

/*----------  end of scatter plot  ----------*/

/*----------  composite chart  ----------*/

#line-gender-pay .x.axis text,
#line-gender-pay .x.axis .tick{
    display: none;
}

/*----------  end of composite chart  ----------*/

/*----------  crimes section ----------*/
/*---- crimes map ----*/

#map-crimes .axis text{
    @include mobile-device{
        font-size: 0.6rem;
    }
    @include tablet-device{
        font-size: 0.6rem;
    }
    @include desktop-device{
        font-size: 0.4rem;
    }
}

.area path{
    stroke: white;
}

.area:hover{
    fill-opacity: 0.5;
    cursor: pointer;
}
/*---- end of crimes map ----*/

/*---- crimes row chart ----*/

#row-crimes svg text{
    fill: black;
}

#row-crimes{
    @include desktop-device{
        max-width: 41vw;
    }
}

#row-crimes .row text{
    font-size: 0.8rem;
    @include mobile-device{
        font-size: 1rem;
    }
}

#row-crimes svg g g.axis .tick { 
    display: none; 
}

/*---- end of crimes row chart ----*/

/*----------  end of crimes section ----------*/


/*----------  reset all button  ----------*/
.reset-all{
    height: 30px;
    margin: .6rem .5rem;
    padding: 2%;
    background-color: #bbb;
    border-radius: 3px;
    color: white;
    text-align: center;
    cursor: pointer;
}

.reset{
    position: absolute;
    left: 2rem;
    top: 8.2rem;
    font-size: .9rem;
}

/*----------  end of reset all button  ----------*/

