/*=============================================
=               info.js message               =
=============================================*/

.introjs-tooltip{
    max-width: 280px;
}

.introjs-tooltiptext{
    font-size: .8rem;
}

.introjs-helperNumberLayer{
    display: none;
}

/*=====  End of info.js message  ======*/

