/*----------  navbar styles  ----------*/
.navbar-header{
    display: grid;
    grid-template-columns: auto 2rem;
    padding: 0.3rem 1rem;
    background-color: #343a40 !important;
}

.navbar-heading{
    color: white;
}


/*----------  navbar info icon  ----------*/

.navbar-header .fas{
    color: white;
    margin: 0;
    font-size: 2rem;
}

/*---------- end of navbar info icon  ----------*/
