/*=============================================
=            All scss directories           =
=============================================*/
/*=============================================
=            All helpers directories         =
=============================================*/
/*=============================================
=            All variables            =
=============================================*/
/*=====  End of variables  ======*/
/*=============================================
=            All mixins/media queries            =
=============================================*/
/*=====  End of mixins/media queries  ======*/
/*=====  End of helpers directories  ======*/
/*=============================================
=            All base directories            =
=============================================*/
/*=============================================
=               base elements                 =
=============================================*/
main, html, body {
  margin: 0;
}

header {
  background-color: grey;
}

.footer-content h6 {
  color: white;
  margin: 15px 0px 15px 10px;
}

footer {
  height: 50px;
  background-color: #343a40 !important;
}

/*=====  End base elements  ======*/
/*=============================================
=                grid layout                  =
=============================================*/
/*----------  main grid layouts ----------*/
@media screen and (max-width: 767px) {
  main {
    margin: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(11, auto);
    grid-gap: 10px;
    grid-template-areas: "population" "born-abroad" "avg-house-prc" "avg-pay" "BAME" "language" "migrant" "crimes" "obesity" "gender-pay" "avg-house";
  }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  main {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-gap: 10px;
    grid-template-areas: "population population born-abroad born-abroad" "avg-house-prc avg-house-prc avg-pay avg-pay" "BAME BAME language language" ". crimes crimes ." "migrant migrant obesity obesity" "gender-pay gender-pay avg-house avg-house";
  }
}

@media screen and (min-width: 900px) {
  main {
    margin: 10px;
    display: grid;
    grid-template-columns: 1rem repeat(4, 1fr) 1rem;
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
    grid-template-areas: ". population born-abroad avg-house-prc avg-pay ." ". BAME       BAME        language      language ." ". migrant    crimes      crimes        obesity ." ". gender-pay crimes      crimes        avg-house .";
  }
}

/*----------  end of grid layouts ----------*/
/*----------  grid tempate areas  ----------*/
#population {
  grid-area: population;
}

#born-abroad {
  grid-area: born-abroad;
}

#avg-house-prc {
  grid-area: avg-house-prc;
}

#avg-pay {
  grid-area: avg-pay;
}

#BAME {
  grid-area: BAME;
}

#english-lng {
  grid-area: language;
}

#migrant-by-birth {
  grid-area: migrant;
}

#crimes {
  grid-area: crimes;
}

#obesity {
  grid-area: obesity;
}

#gender-pay {
  grid-area: gender-pay;
}

#avg-house {
  grid-area: avg-house;
}

/*----------  end of grid tempate areas  ----------*/
/*----------  number display grids  ----------*/
.nd-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-height: 80px;
  text-align: end;
}

.nd-content {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

/*---------- end of number display grids  ----------*/
/*----------  bar chart grids  ----------*/
.bar-grid {
  display: grid;
  grid-template-rows: 4rem 2fr;
}

/*----------  end of bar chart grids  ----------*/
/*----------  common chart grids  ----------*/
.chart-grid {
  display: grid;
  grid-template-rows: 4.5rem auto auto;
}

/*----------  end of common chart grids  ----------*/
/*----------  crimes grid  ----------*/
.map-grid {
  display: grid;
  grid-template-rows: 4rem auto auto auto;
}

/*----------  end of crimes grid  ----------*/
/*----------  footer grid  ----------*/
footer {
  display: grid;
  grid-template-columns: auto 6rem;
}

/*----------  end of footer grid  ----------*/
/*=====  End of grid layout  ======*/
/*=====  End of base directories ======*/
/*=============================================
=            All component directories            =
=============================================*/
/*=============================================
=               Navbar styles                 =
=============================================*/
.navbar-header {
  display: grid;
  grid-template-columns: auto 2.5rem 2.5rem;
  padding: 0.3rem .5rem .3rem 1rem;
  background-color: #343a40 !important;
}

.navbar-header .fas {
  color: white;
  margin: 0;
  font-size: 2rem;
  cursor: pointer;
  transition: .5s;
}

.navbar-header .fas:hover {
  color: #32e458;
}

.navbar-heading {
  color: white;
}

#intro {
  margin-right: 10px;
}

/*=====  End of navbar styles  ======*/
/*=============================================
=                 Card styles                 =
=============================================*/
.card {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.card-header {
  height: auto;
  text-align: center;
  font-weight: 500;
  font-size: .7rem;
}

@media screen and (min-width: 1200px) and (max-width: 1800px) {
  .card-header {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1800px) {
  .card-header {
    font-size: 1.7rem;
  }
}

/*=====  End of card styles  ======*/
/*=============================================
=              All chart styles               =
=============================================*/
/*---------- general chart styles  ----------*/
#bar-BAME .axis.x text,
#bar-english-lng .axis.x text,
#row-avg-house .axis text {
  transform: rotate(-45deg);
  text-anchor: end !important;
  font-size: 0.7rem;
}

@media screen and (max-width: 767px) {
  #bar-BAME .axis .tick text,
  #bar-english-lng .axis .tick text {
    font-size: 0.9rem;
  }
}

.chart-content {
  text-align: center;
  padding: 10px 8% 0px 8%;
  font-size: .7rem;
}

@media screen and (min-width: 1800px) {
  .chart-content {
    font-size: .9rem;
  }
}

@media screen and (min-width: 3000px) {
  .chart-content {
    font-size: 1.9rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  #row-crimes,
  #scatter-obesity,
  #row-avg-house,
  #line-gender-pay {
    text-align: center;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  #row-crimes svg,
  #scatter-obesity svg,
  #row-avg-house svg,
  #line-gender-pay svg {
    max-width: 77vw;
  }
}

@media screen and (min-width: 900px) {
  .chart-grid .dc-chart {
    margin-top: .9rem;
  }
}

@media screen and (min-width: 3000px) {
  .chart-grid .dc-chart {
    margin-top: 5rem;
  }
}

/*----------  end of general chart styles ----------*/
/*----------  number displays  ----------*/
.fas {
  margin: .7rem 1.5rem;
  font-size: 3rem;
}

.nd-header {
  text-align: center;
  padding-top: 5px;
}

.nd-display {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}

/*----------  end of number displays  ----------*/
/*----------  pie chart ----------*/
#pie-migrant-by-birth {
  float: none;
}

@media screen and (min-width: 1800px) {
  .pie-chart {
    margin: 3rem 0;
  }
}

/*----------  end of pie chart  ----------*/
/*----------  scatter plot  ----------*/
#scatter-obesity {
  float: none;
  margin-left: 10px;
}

#scatter-obesity text {
  font-size: .9rem;
}

@media screen and (max-width: 767px) {
  #scatter-obesity text {
    font-size: .7rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  #scatter-obesity text {
    font-size: .7rem;
  }
}

/*----------  end of scatter plot  ----------*/
/*----------  composite chart  ----------*/
#line-gender-pay .x.axis text {
  display: none;
}

#line-gender-pay .x.axis .tixk {
  display: none;
}

/*----------  end of composite chart  ----------*/
/*----------  crimes section ----------*/
/*---- crimes map ----*/
@media screen and (max-width: 767px) {
  #map-crimes .axis text {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  #map-crimes .axis text {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  #map-crimes .axis text {
    font-size: 0.4rem;
  }
}

.area path {
  stroke: white;
}

.area:hover {
  fill-opacity: 0.5;
  cursor: pointer;
}

/*---- end of crimes map ----*/
/*---- crimes row chart ----*/
#crimes {
  text-align: -webkit-center;
  text-align: -ms-center;
  text-align: -moz-center;
  text-align: -o-center;
  text-align: center;
}

@media screen and (min-width: 900px) {
  #crimes svg {
    max-width: 41vw;
  }
}

@media screen and (min-width: 900px) {
  #crimes svg text {
    font-size: .4rem;
  }
}

#row-crimes svg text {
  fill: black;
}

#row-crimes svg g.axis .tick {
  display: none;
}

#row-crimes .row text {
  font-size: 0.8rem;
}

@media screen and (max-width: 767px) {
  #row-crimes .row text {
    font-size: 1rem;
  }
}

/*---- end of crimes row chart ----*/
/*----------  end of crimes section ----------*/
/*----------  reset all button  ----------*/
.reset-all {
  height: 30px;
  margin: .6rem .5rem;
  padding: 2%;
  background-color: #fff;
  border-radius: 3px;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: .5s;
}

.reset-all:hover {
  background-color: #32e458;
}

.reset-all a {
  text-decoration: none;
}

.reset {
  position: absolute;
  left: 2rem;
  top: 8.2rem;
  font-size: .9rem;
}

/*----------  end of reset all button  ----------*/
/*=====  End of chart styles  ======*/
/*=============================================
=                Info Modal                   =
=============================================*/
@media screen and (max-width: 767px) {
  #infoModal {
    max-width: 100vw;
  }
}

/*=====  End of Info Modal  ======*/
/*=============================================
=               info.js message               =
=============================================*/
.introjs-tooltip {
  max-width: 280px;
}

.introjs-tooltiptext {
  font-size: .8rem;
}

.introjs-helperNumberLayer {
  display: none;
}

/*=====  End of info.js message  ======*/
/*=====  End of component directories  ======*/
/*=====  End of scss directories  ======*/
/*# sourceMappingURL=main.css.map */