

/*=============================================
=               base elements                 =
=============================================*/


main, html, body{
    margin: 0;
}

footer{
    height: 50px;
    background-color: #343a40!important
}

header{
    background-color: grey;
}


aside{
    background-color: grey;
}

/*=====  End of Section base elements  ======*/

