//  css grid layout 

/*=============================================
=                grid layout                  =
=============================================*/

// grid template areas
#sidebar{
    grid-area: sidebar;
}

#population{
    grid-area: population;
}

#born-abroad{
    grid-area: born-abroad;
}

#avg-house-prc{
    grid-area: avg-house-prc;
}

#avg-pay{
    grid-area: avg-pay;
}

#BAME-bar{
    grid-area: BAME;
}

#english-lng-bar{
    grid-area: language;
}

#migrant-by-birth-pie{
    grid-area: migrant;
}

#crimes-map{
    grid-area: crimes;
}

#obesity-scatter{
    grid-area: obesity;
}

#gender-employment-row{
    grid-area: employment;
}

#avg-house-row{
    grid-area: avg-house-row;
}

// responsive grid layouts
// mobile device 
main{
    @include mobile-device{ 
        margin: 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(11, auto) 50px;
        grid-gap: 10px;
        grid-template-areas: 
        "population"
        "born-abroad"
        "avg-house-prc"
        "avg-pay"
        "BAME"
        "language"
        "migrant"
        "crimes"
        "obesity"
        "employment"
        "avg-house-row"
        "sidebar";
    };
}

/*=====  End of grid layout  ======*/

