//  css grid layout 

/*=============================================
=                grid layout                  =
=============================================*/

// grid template areas
#sidebar{
    grid-area: sidebar;
}

#population{
    grid-area: population;
}

#born-abroad{
    grid-area: born-abroad;
}

#avg-house-prc{
    grid-area: avg-house-prc;
}

#avg-pay{
    grid-area: avg-pay;
}

#BAME-bar{
    grid-area: BAME;
}

#english-lng-bar{
    grid-area: language;
}

#migrant-by-birth-pie{
    grid-area: migrant;
}

#crimes-map{
    grid-area: crimes;
}

#obesity-scatter{
    grid-area: obesity;
}

#gender-employment-row{
    grid-area: employment;
}

#avg-house-row{
    grid-area: avg-house-row;
}

// responsive grid layouts
main{

    // mobile device 
    @include mobile-device{ 
        margin: 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(11, auto) 50px;
        grid-gap: 10px;
        grid-template-areas: 
        "population"
        "born-abroad"
        "avg-house-prc"
        "avg-pay"
        "BAME"
        "language"
        "migrant"
        "crimes"
        "obesity"
        "employment"
        "avg-house-row"
        "sidebar";
    };

    // tablet device 
    @include tablet-device{ 
        margin: 0;
        display: grid;
        grid-template-columns: repeat (4, auto);
        grid-template-rows: repeat(6, auto) 50px;
        grid-gap: 10px;
        grid-template-areas: 
        "population population born-abroad born-abroad"
        "avg-house-prc avg-house-prc avg-pay avg-pay"
        "BAME BAME language language"
        ". crimes crimes ."
        "migrant migrant obesity obesity"
        "employment employment avg-house-row avg-house-row"
        "sidebar sidebar sidebar sidebar";
    };

    // desktop screen
    @include desktop-device{
        display: grid;
        grid-template-columns: 50px repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-gap: 10px;
        grid-template-areas: 
        "sidebar population born-abroad avg-house-prc avg-pay"
        "sidebar BAME       BAME        language      language"
        "sidebar migrant    crimes      crimes        obesity"
        "sidebar employment crimes      crimes        avg-house-row";
    };
}

/*=====  End of grid layout  ======*/

