//  css grid layout 

/*=============================================
=                grid layout                  =
=============================================*/

/*----------  responsive grid layouts ----------*/

main{

    // mobile device 
    @include mobile-device{ 
        padding-top:10px;
        margin: 0;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(11, auto) 50px;
        grid-gap: 10px;
        grid-template-areas: 
        "population"
        "born-abroad"
        "avg-house-prc"
        "avg-pay"
        "BAME"
        "language"
        "migrant"
        "crimes"
        "obesity"
        "degree"
        "avg-house"
        "sidebar";
    };

    // tablet device 
    @include tablet-device{ 
        padding-top:10px;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, auto) 50px;
        grid-gap: 10px;
        grid-template-areas: 
        "population population born-abroad born-abroad"
        "avg-house-prc avg-house-prc avg-pay avg-pay"
        "BAME BAME language language"
        ". crimes crimes ."
        "migrant migrant obesity obesity"
        "degree degree avg-house avg-house"
        "sidebar sidebar sidebar sidebar";
    };

    // desktop screen
    @include desktop-device{
        padding-right:10px;
        display: grid;
        grid-template-columns: 50px repeat(4, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-gap: 10px;
        grid-template-areas: 
        "sidebar population born-abroad avg-house-prc avg-pay"
        "sidebar BAME       BAME        language      language"
        "sidebar migrant    crimes      crimes        obesity"
        "sidebar degree crimes      crimes        avg-house";
    };
}

/*----------  end of responsive grid layouts ----------*/

/*----------  grid helpers ----------*/
//  easier way? nested grid? 

section{
    @include mobile-device{
        margin: 0 10px;
    }
}

#population,
#avg-house-prc,
#BAME,
#migrant-by-birth,
#degree{
    @include tablet-device{
        margin-left: 10px;
    }
}

#born-abroad,
#avg-pay,
#english-lng,
#obesity,
#avg-house{
    @include tablet-device{
        margin-right: 10px;
    }
}

#population,
#born-abroad,
#avg-pay,
#avg-house-prc{
    @include desktop-device{
        margin-top: 10px;
    }
}

#degree,
#crimes,
#avg-house{
    @include desktop-device{
        margin-bottom: 10px;
    }
}

/*----------  end of grid helpers ----------*/


/*----------  grid tempate areas  ----------*/

#sidebar{
    grid-area: sidebar;
}

#population{
    grid-area: population;
}

#born-abroad{
    grid-area: born-abroad;
}

#avg-house-prc{
    grid-area: avg-house-prc;
}

#avg-pay{
    grid-area: avg-pay;
}

#BAME{
    grid-area: BAME;
}

#english-lng{
    grid-area: language;
}

#migrant-by-birth{
    grid-area: migrant;
}

#crimes{
    grid-area: crimes;
}

#obesity{
    grid-area: obesity;
}

#degree{
    grid-area: degree;
}

#avg-house{
    grid-area: avg-house;
}
/*----------  end of grid tempate areas  ----------*/



/*=====  End of grid layout  ======*/

.nd{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    grid-template-areas: 
    "fas number-display number-display";

}