/*=============================================
=               base elements                 =
=============================================*/
main, html, body {
  margin: 0;
}

header {
  height: auto;
  background-color: grey;
}

aside {
  background-color: grey;
}

/*=====  End of Section base elements  ======*/
.card {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

/*=============================================
=                grid layout                  =
=============================================*/
/*----------  main grid layouts ----------*/
@media screen and (max-width: 767px) {
  main {
    padding-top: 10px;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(11, auto) 50px;
    grid-gap: 10px;
    grid-template-areas: "population" "born-abroad" "avg-house-prc" "avg-pay" "BAME" "language" "migrant" "crimes" "obesity" "employment" "avg-house" "sidebar";
  }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  main {
    padding-top: 10px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, auto) 50px;
    grid-gap: 10px;
    grid-template-areas: "population population born-abroad born-abroad" "avg-house-prc avg-house-prc avg-pay avg-pay" "BAME BAME language language" ". crimes crimes ." "migrant migrant obesity obesity" "employment employment avg-house avg-house" "sidebar sidebar sidebar sidebar";
  }
}

@media screen and (min-width: 900px) {
  main {
    padding-right: 10px;
    display: grid;
    grid-template-columns: 50px repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
    grid-template-areas: "sidebar population born-abroad avg-house-prc avg-pay" "sidebar BAME       BAME        language      language" "sidebar migrant    crimes      crimes        obesity" "sidebar employment crimes      crimes        avg-house";
  }
}

/*----------  end of responsive grid layouts ----------*/
/*----------  grid helpers ----------*/
@media screen and (max-width: 767px) {
  section {
    margin: 0 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  #population,
  #avg-house-prc,
  #BAME,
  #migrant-by-birth,
  #employment {
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  #born-abroad,
  #avg-pay,
  #english-lng,
  #obesity,
  #avg-house {
    margin-right: 10px;
  }
}

@media screen and (min-width: 900px) {
  #population,
  #born-abroad,
  #avg-pay,
  #avg-house-prc {
    margin-top: 10px;
  }
}

@media screen and (min-width: 900px) {
  #employment,
  #crimes,
  #avg-house {
    margin-bottom: 10px;
  }
}

/*----------  end of grid helpers ----------*/
/*----------  grid tempate areas  ----------*/
#sidebar {
  grid-area: sidebar;
}

#population {
  grid-area: population;
}

#born-abroad {
  grid-area: born-abroad;
}

#avg-house-prc {
  grid-area: avg-house-prc;
}

#avg-pay {
  grid-area: avg-pay;
}

#BAME {
  grid-area: BAME;
}

#english-lng {
  grid-area: language;
}

#migrant-by-birth {
  grid-area: migrant;
}

#crimes {
  grid-area: crimes;
}

#obesity {
  grid-area: obesity;
}

#employment {
  grid-area: employment;
}

#avg-house {
  grid-area: avg-house;
}

/*----------  end of grid tempate areas  ----------*/
/*----------  number display grids  ----------*/
.nd-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-height: 80px;
}

.nd-content {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

/*---------- end of number display grids  ----------*/
/*----------  bar chart grids  ----------*/
.bar-grid {
  display: grid;
  grid-template-rows: 4rem 2fr;
}

/*----------  end of bar chart grids  ----------*/
/*----------  individual chart grids  ----------*/
.chart-grid {
  display: grid;
  grid-template-rows: 4rem auto auto;
}

/*----------  end of individual chart grids  ----------*/
/*=====  End of grid layout  ======*/
#bar-BAME .axis.x text,
#bar-english-lng .axis.x text,
#row-avg-house .axis text {
  transform: rotate(-45deg);
  text-anchor: end !important;
  font-size: 0.7rem;
}

#map-crimes .axis text {
  font-size: 0.4rem;
}

.area path {
  stroke: white;
}

.area:hover {
  fill-opacity: 0.5;
  cursor: pointer;
}

.card-header {
  text-align: center;
  font-weight: 500;
}

/*----------  number displays  ----------*/
.fas {
  margin: .7rem 1.5rem;
  font-size: 3rem;
}

.nd-header {
  text-align: center;
  padding-top: 5px;
}

.nd-display {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}

/*----------  end of number displays  ----------*/
/*----------  bar charts  ----------*/
.chart-content {
  text-align: center;
  padding: 10px 8% 0px 8%;
  font-size: .7rem;
}

/*----------  end of bar charts  ----------*/
/*----------  pie chart ----------*/
@media screen and (max-width: 767px) {
  #pie-migrant-by-birth {
    float: none;
    position: relative;
    left: 10.3333333%;
  }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  #pie-migrant-by-birth {
    float: none;
    position: relative;
    left: 11.333333%;
  }
}

@media screen and (min-width: 900px) {
  #pie-migrant-by-birth {
    float: none;
    position: relative;
    left: 3%;
  }
}

/*----------  end of pie chart  ----------*/
/*----------  scatter plot  ----------*/
#scatter-obesity {
  float: none;
  margin-left: 10px;
}

#scatter-obesity text {
  font-size: .9rem;
}

/*----------  end of scatter plot  ----------*/
/*# sourceMappingURL=main.css.map */