/*=============================================
=               base elements                 =
=============================================*/
main, html, body {
  margin: 0;
}

header {
  height: 50px;
  background-color: grey;
}

aside {
  background-color: grey;
}

/*=====  End of Section base elements  ======*/
.card {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

/*=============================================
=                grid layout                  =
=============================================*/
/*----------  responsive grid layouts ----------*/
@media screen and (max-width: 767px) {
  main {
    padding-top: 10px;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(11, auto) 50px;
    grid-gap: 10px;
    grid-template-areas: "population" "born-abroad" "avg-house-prc" "avg-pay" "BAME" "language" "migrant" "crimes" "obesity" "degree" "avg-house" "sidebar";
  }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  main {
    padding-top: 10px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat 4, 1fr;
    grid-template-rows: repeat(6, auto) 50px;
    grid-gap: 10px;
    grid-template-areas: "population population born-abroad born-abroad" "avg-house-prc avg-house-prc avg-pay avg-pay" "BAME BAME language language" ". crimes crimes ." "migrant migrant obesity obesity" "degree degree avg-house avg-house" "sidebar sidebar sidebar sidebar";
  }
}

@media screen and (min-width: 900px) {
  main {
    padding-right: 10px;
    display: grid;
    grid-template-columns: 50px repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
    grid-template-areas: "sidebar population born-abroad avg-house-prc avg-pay" "sidebar BAME       BAME        language      language" "sidebar migrant    crimes      crimes        obesity" "sidebar degree crimes      crimes        avg-house";
  }
}

/*----------  end of responsive grid layouts ----------*/
/*----------  grid helpers ----------*/
@media screen and (max-width: 767px) {
  section {
    margin: 0 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  #population,
  #avg-house-prc,
  #BAME,
  #migrant-by-birth,
  #degree {
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
  #born-abroad,
  #avg-pay,
  #english-lng,
  #obesity,
  #avg-house {
    margin-right: 10px;
  }
}

@media screen and (min-width: 900px) {
  #population,
  #born-abroad,
  #avg-pay,
  #avg-house-prc {
    margin-top: 10px;
  }
}

@media screen and (min-width: 900px) {
  #degree,
  #crimes,
  #avg-house {
    margin-bottom: 10px;
  }
}

/*----------  end of grid helpers ----------*/
/*----------  grid tempate areas  ----------*/
#sidebar {
  grid-area: sidebar;
}

#population {
  grid-area: population;
}

#born-abroad {
  grid-area: born-abroad;
}

#avg-house-prc {
  grid-area: avg-house-prc;
}

#avg-pay {
  grid-area: avg-pay;
}

#BAME {
  grid-area: BAME;
}

#english-lng {
  grid-area: language;
}

#migrant-by-birth {
  grid-area: migrant;
}

#crimes {
  grid-area: crimes;
}

#obesity {
  grid-area: obesity;
}

#degree {
  grid-area: degree;
}

#avg-house {
  grid-area: avg-house;
}

/*----------  end of grid tempate areas  ----------*/
/*=====  End of grid layout  ======*/
.nd {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
  grid-template-areas: "fas number-display number-display";
}

#bar-BAME .axis.x text,
#bar-english-lng .axis.x text,
#row-avg-house .axis text {
  transform: rotate(-45deg);
  text-anchor: end !important;
  font-size: 0.7rem;
}

#map-crimes .axis text {
  font-size: 0.4rem;
}

.area path {
  stroke: white;
}

.area:hover {
  fill-opacity: 0.5;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */